.nav {
    display: flex;
    justify-content: end;
}
.nav a{
    text-decoration: none;
    padding: 0 0.5em;
    color: white;
}
.nav a.active {
    color: #e6c9a2 !important;
    text-decoration: underline !important;
}