.nav {
    display: flex;
    justify-content: end;
}

.nav a:hover {
    color: #E6C9A2;
}

.nav a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0em 0.5em;
}

.nav a.active{
    border-bottom: 1px solid #E6C9A2;
}

.header .nav .css-1p823my-MuiListItem-root{
    padding: 0em !important;
    width: auto;
}