.header {
  height: 120px;
  background: #0e1927;
  display: flex;
  align-items: flex-start;
}
.companyInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e6c9a2;
  padding: 0em 1em;
  height: 40px;
}
.companyInfo .email,
.companyInfo .contactNo {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.header .restoInfo {
  color: white;
  padding: 0em 1em;
  display: flex;
  align-items: center;
}
.restoInfo .logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

.restoInfo .logo span{
    font-size: 1.5rem;
    color:#e6c9a2;
    text-transform: capitalize;
}
