.footer {
    background-color: #0E1927;
    color: white;
    justify-content: center;
    height: 160px;
    align-items: center;
}
.comman{
    text-align: center;
}
.imglogo{
    height: 40px;
}
.nav a{
    color: white;
}
.nav{
    display: flex;
    }
.icon{
    text-align: center;
}