* {
  margin: 0px;
  padding: 0px;
}
.cartIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.subTotal {
  text-align: end;
  margin: 1em 0em;
}
.subTotal button {
  margin-top: 1em;
}
.companyName {
  font-weight: 900;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.description {
  display: flex;
  justify-content: center;
}
.modal table {
  width: 100%;
  margin: 1em 0em;
}

.modal table tr, .modal table td {
  text-align: center;
}
.invoice-bill {
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding: 5mm;
  margin: 0 auto;
  width: 76mm;
  background: #fff;
}
.table {
  margin: 2em 0em;
  width: 100%;
}
.table thead {
  background: #eee;
}
.table tr td {
  padding: 0.2em;
  text-align: center;
}
.table tbody .table-row {
  border-bottom: 1px solid #eee;
}
.table .table-cal {
  background: #eee;
}
.lbl-red {
  background: red;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
}
.lbl-yellow {
  background: yellow;
  padding: 4px 8px;
  border-radius: 4px;
  color: black;
}

.lbl-green {
  background: green;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
}
.itemImg {
  border-radius: 5px;
  height: 50px;
  width: 50px;
}