* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
.h-content {
  height: calc(100vh - 60px);
}
.green {
  color: green;
}
.red {
  color: red;
}
.h-content .MuiTable-root thead tr th div {
  font-weight: bold;
}
.h-content .tss-1cdcmys-MUIDataTable-responsiveBase{
  max-height: 65vh !important;
}
.h-content .MuiTable-root .tss-1vd39vz-MUIDataTableBodyCell-stackedCommon,
.h-content .MuiTable-root thead tr th span,
.h-content .MuiTable-root thead tr th {
  text-align: center !important;
  justify-content: center;
}
.icon {
  cursor: pointer;
}
.modal {
  width: 40% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background: white;
  border-radius: 0.5em;
  box-shadow: 24;
  padding: 1em;
}
.modal .logo {
  display: flex;
  justify-content: center;
}
.modal .title {
  font-size: 1.2em;
  font-weight: 900;
  margin: 1em 0em;
}
.btnSave{
  text-align: center;
}
.h-line{
  width: 100%;
  border: 0.5px solid #2d3743;
  margin-top: 1em;
}
.error{
  color: red;
  margin-top: 1em;
}