* {
  margin: 0px;
  padding: 0px;
}

.h-content {
  height: calc(100vh - 330px);
}

.green {
  color: green;
}

.red {
  color: red;
}

.h-content .MuiTable-root thead tr th div {
  font-weight: bold;
}

.h-content .MuiPaper-root {
  box-shadow: none;
}

.h-content .MuiTable-root .tss-1vd39vz-MUIDataTableBodyCell-stackedCommon,
.h-content .MuiTable-root thead tr th span,
.h-content .MuiTable-root thead tr th {
  text-align: center !important;
  justify-content: center;
}

.modal {
  width: 40% !important;
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: white;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 24;
  transform: translate(-50%, -50%);
  justify-content: center;
}